.ViewPanel {
  text-align: center;
}
.ViewPanel-item {
  padding: 0 0 10px;
}
.ViewPanel-input {
  width: 320px;
  margin-right: 20px;
  padding-left: 5px;
}
.ViewPanel-remove {
  
  transform: translateY(10px);
  color: #555;
}
.ViewPanel-remove:hover {
  cursor: pointer;
  color: maroon;
}
.title {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}